<h1>Triple Crown of Thoroughbred Racing (<%= @triple.country %>)</h1>
<a href='/winners_table_name'>Triple Crown Winners</a>
<% @winners.each do |winner| %>
    <h3><%= winner.name %></h3>
    <b>Year Won: <%= winner.year_won %></b><br>
    Jockey: <%= winner.jockey %><br>
    Trainer: <%= winner.trainer %><br>
    Sired another Triple Crown winner? <%= winner.sired_TC_winner %> 
<% end %>