<h1>Triple Crown Winners</h1>
<% @winners.each do |winner| %>
    <h3><%= winner.name %></h3>
    <p>Year Won: <%= winner.year_won %></p>
    <p>Jockey: <%= winner.jockey %></p>
    <p>Trainer: <%= winner.trainer %></p>
    <p>Sired a Triple Crown winner? <%= winner.sired_TC_winner %></p>
    <p><font size="-1"><%= link_to "Edit #{winner.name}", "/winners_table_name/#{winner.id}/edit" %></font></p>
    <p><%= button_to "Delete #{winner.name}", "/winners_table_name/#{winner.id}", method: :delete %></p>
<% end %>

