<font size="2"><a href='/winners_table_name'>All Triple Crown Winners</a> <b>|</b> <a href='/triples'>Triple Crowns (All Nations)</a></font size="2">
<h1>Triple Crown Winners</h1>
<% @winners.each do |winner| %>
    <h3><%= winner.name %></h3>
    <p>Year Won: <%= winner.year_won %></p>
    <p>Jockey: <%= winner.jockey %></p>
    <p>Trainer: <%= winner.trainer %></p>
    <p>Sired a Triple Crown winner? <%= winner.sired_TC_winner %></p>
<% end %>

