<h2><%= @winner.name %></h2>
<b>Year Won: <%= @winner.year_won %></b>
<p>Jockey: <%= @winner.jockey %></p>
<p>Trainer: <%= @winner.trainer %></p>
<p>Sired another Triple Crown winner? <%= @winner.sired_TC_winner %></p>
<font size="-1"><%= link_to "Update #{@winner.name} Triple Crown", "/winners_table_name/#{@winner.id}/edit" %></font><br><br>
<%= button_to "Delete #{@winner.name}", "/winners_table_name/#{@winner.id}", method: :delete %>
