<h2>Triple Crown of Thoroughbred Racing<br>
Country: <%= @triple.country %><br>
<font size="3"><%= link_to "#{@triple.country} Triple Crown Winners", "/triples/#{@triple.id}/winners_table_name" %></font></h2>

<b>Year Established: <%= @triple.year_established %></b>
<p>Number of winners: <%= @triple.winner_count %></p>
<p>Features only dirt tracks? <%= @triple.dirt_track %></p>
<font size="-1"><%= link_to "Update #{@triple.country} Triple Crown", "/triples/#{@triple.id}/edit" %></font><br><br>
<%= button_to "Delete #{@triple.country} Triple Crown", "/triples/#{@triple.id}", method: :delete %>
