<font size="2"><a href='/winners_table_name'>All Triple Crown Winners</a> <b>|</b> <a href='/triples'>Triple Crowns (All Nations)</a></font size="2">
<h2>Triple Crown of Thoroughbred Racing<br>
Country: <%= @triple.country %><br>
<font size="3"><%= link_to "#{@triple.country} Triple Crown Winners", "/triples/#{@triple.id}/winners_table_name" %></font size="3"></h2>

<h4>Year Established: <%= @triple.year_established %><br>
Number of winners: <%= @triplecount %><br>
Features only dirt tracks? <%= @triple.dirt_track %><br>
<font size="-1"><%= link_to "Update #{@triple.country} Triple Crown", "/triples/#{@triple.id}/edit" %></font size="-1"><br><br>
<%= button_to "Delete #{@triple.country} Triple Crown", "/triples/#{@triple.id}", method: :delete %><h4>