<!DOCTYPE html>
<html>
  <head>
    <title>TripleCrown</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <font size="2"><a href='/winners_table_name'>All Triple Crown Winners</a> <b>|</b> <a href='/triples'>Triple Crowns (All Nations)</a></font size="2">
    <%= yield %>
  </body>
</html>
